/* Customize the WebKit scrollbar */
::-webkit-scrollbar {
  width: 13px; /* Set the width of the scrollbar */
  box-shadow: 0px 0px 20px black;
}

/* Track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background-color: #77002a71; /* Set the background color */
}

/* Thumb (the draggable scrolling element) */
::-webkit-scrollbar-thumb {
  background-color: #df2264; /* Set the thumb color */
  border-radius: 6px; /* Rounded corners for the thumb */
  transition: box-shadow 0.3s ease, width 0.3s ease;
}

/* On hover, the thumb will have a different color */
::-webkit-scrollbar-thumb:hover {
  background-color: #ef0064;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: Arial, sans-serif;
  background-color: #2B2735;
  color: #D6D1E1;
}

header {
  background-color: #1C1923;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #E94A64;
}

.highlight-free {
  color: #E94A64;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #D6D1E1;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #E94A64;
}

section {
  padding: 50px;
  background-color: #121016;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

section h1, section h2 {
  color: #E94A64;
  margin-bottom: 20px;
}

section p {
  color: #D6D1E1;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.custombar-embed {
  display: flex;
  scale: 0.7;
  max-width: 800px;
  max-height: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

form input[type="text"],
form input[type="email"],
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #1C1923;
  color: #D6D1E1;
}

form textarea {
  height: 150px;
}

form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #E94A64;
  color: #D6D1E1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #1C1923;
}

footer {
  background-color: #1C1923;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #D6D1E1;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #E94A64;
  color: #D6D1E1;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #1C1923;
}

.donationbutton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e9d44a;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.donationbutton:hover {
  background-color: #1C1923;
}