/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: Arial, sans-serif;
  color: #c9d1d9;
  width: 960px;
  min-width: 1000px;
  margin: 0 auto;
  display: flex;
}

header {
  background-color: #061726;
  padding: 20px;
  height: 90px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo {
  padding-bottom: 20px;
  font-size: 40px;
}

h1 {
  font-size: 50px;
}

.logo {
  font-weight: bolder;
  color: #58a6ff;
  text-align: center;
}

.barglow {
  text-shadow: 0px 0px 20px #58a6ff7c;
}

.highlight-free {
  color: #f23160;
  font-weight: bold;
}

.startstyle {
  border-radius: 20px 0px 0px 20px;
}

.middlestyle {
  border-radius: 0px;
}

.endstyle {
  border-radius: 0px 20px 20px 0px;
}

.button {
  max-width: 180px;
  color: #ffffff;
  font-size: 8px;
  padding: 10px 15px;
  background-color: #071f34;
  margin-right: 15px;
}

.fontsize {
  font-size: 12px;
}

.volunteerbutton {
  max-width: 200px;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #85c742;
  padding: 5px 15px 6px 15px;
}

.volunteerbutton:hover {
  color: rgb(255, 255, 255);
}

.button:hover {
  background-color: #042f55;
  cursor: pointer;
}

.volunteerform {
  margin-top: 0;
  margin: 0 auto;
  background-color: #4dc76b;
  width: 80%;
  padding: 8px;
  text-align: center;
  justify-content: center;
  border-top: 3px solid #002537;
  border-bottom: 3px solid #002537;
  border-radius: 0px 0px 20px 20px;
  color: #c9d1d9;
}

.volunteerform > p {
  color: #000000;
}

.volunteerform > a {
  color: #000000;
}


nav > ul > li {
  scale: 1.5;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #D6D1E1;
  text-decoration: none;
  transition: color 0.3s ease;
}

section {
  padding: 30px;
  background-color: #011527;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  margin-top: 13px;
  margin-bottom: 13px;
}

section > ul > li > a {
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 20px;
}

section h2 {
  margin-bottom: 40px;
  text-align: left;
}

section p {
  color: #c9d1d9;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.custombar-embed {
  display: flex;
  scale: 0.8;
  max-width: 800px;
  height: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

footer, header {
  color: #c9d1d9;
}

footer {
  background-color: #061726;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

footer p {
  font-size: 14px;
}

.aka {
  padding: 8px 12px;
  background-color: #002537;
  border-radius: 20px;
}

.download-button {
  margin-left: 25px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #071f34;
  color: #D6D1E1;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
}

.download-button:hover {
  background-color: #042f55;
}

.story {
  width: 100%; /* Set the section width to 100% of its parent container */
  max-width: 800px;
  margin: 0 auto; /* Remove margin for the section */
  padding: 0; /* Remove padding for the section */
  text-align: justify;
  display: flex;
  flex-direction: column; /* Arrange <p> elements in a column */
  justify-content: space-between; /* Add space between <p> elements */
}

.updatebanner > h1 {
  color: #85c742;
  text-shadow: 0px 0px 20px #85c742;
}

.sliding-text-container {
  overflow: hidden;
  white-space: nowrap;
  max-width: 1000px; /* Set the maximum width */
  margin: 0 auto; /* Center the container within the page */
  background-color: #071f34;
  padding: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 0px 0px 10px 10px;
}

.sliding-text {
  display: inline-block;
  animation: slide 45s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(64%);
  }
  to {
    transform: translateX(-100%);
  }
}

.goaltitlesize {
  font-size: 28px;
}

.donationbar {
  text-align: center;
}

.donationbar > p {
  margin-top: 20px;
  color: #c9d1d9;
}

.donationbar > .donationbutton {
  margin-top: 20px;
  scale: 1.3;
  width: 200px;
  background-color: #071f34;
}

progress {
  width: 70%;
  height: 45px;
  border: none;
}

/* Background color of the progress element */
progress::-webkit-progress-bar {
  background-color: transparent; /* Darker background color */
  border: 2px solid white;
  padding: 10px;
}

/* Fill color of the progress element */
progress::-webkit-progress-value {
  background-color: #f23160; /* Green fill color */
}

progress::-webkit-progress-bar, progress::-webkit-progress-value {
    border-radius: 50px;
}

.money {
    color: #f23160;
}

.donationbutton {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
}

.donationbutton:hover {
  background-color: #042f55;
  cursor: pointer;
}

.versioncontrol {
  display: inline-block;
  padding: 11px;
  background-color: white;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
}

.column {
  display: list-item;
  list-style-type: none;
  margin: 10px;
}

/* Version Label */
.versionstability {
  border-right: 20px solid #85c742;
}

.preview {
  border-right: 20px solid rgb(233, 160, 65);
}

.version {
  margin-left: 10px;
}

.cbname {
  padding: 5px 30px;
  max-width: fit-content;
  border: 1px solid white;
  border-radius: 50px;
  text-shadow: 0px 0px 20px #d1054c;
}

.divider-large {
  width: 100%;
  display: flex;
  border: 3px solid #2c2936;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.outsidebackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #030614;
}

.insidebackground {
  backdrop-filter: blur(25px);
}

.fa-cloud-arrow-down {
  margin-right: 10px;
}

.underlineh2 {
  border-bottom: 3px solid #f23160;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.centertext {
  text-align: center;
}

.downloadpage {
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
  grid-gap: 20px;
}

.credits {
  display: grid;
  grid-auto-flow: column;
  scale: 0.7;
}

.profile {
  border-radius: 100%;
  border: 3px solid #85c742;
  transition: scale 0.3s, border 0.3s, box-shadow 0.3s;
  padding: 8px;
}

.profile:hover {
  scale: 1.08;
  border: 4px solid #f23160;
  box-shadow: 0px 0px 20px #f23160;
}

.twitter-tweet {
  margin: 0 auto;
  box-shadow: 0px 8px 30px black;
  border-radius: 10px;
}

.twitterembed {
  scale: 0.9;
}