/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: Arial, sans-serif;
  color: #c9d1d9;
  max-width: 67%;
  min-width: 1000px;
  margin: 0 auto;
  border-left: 2px solid #30363d;
  border-right: 2px solid #30363d;
}

header {
  background-color: #0d1117;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #4a9eff, #6378ff);
  text-align: center;
}

.logoglow {
  text-shadow: 0px 0px 20px #fff25eab;
  border-bottom: 3px solid #ffffff;
  color: white;
}

.highlight-free {
  color: #58a6ff;
  font-weight: bold;
}

.button {
  margin: 25px;
  max-width: 180px;
  padding: 5px;
  text-decoration: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 8px;
  border: 1px solid #ffffff;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  padding: 5px 15px 6px 15px;
}

.volunteerbutton {
  max-width: 200px;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #ffffff;
  transition: color 0.3s, background-color 0.3s;
  padding: 5px 15px 6px 15px;
}

.volunteerbutton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 31, 48);
}

.button:hover {
  color: black;
  box-shadow: 0px 0px 20px #58a6ff;
  background-color: #58a6ff;
  cursor: pointer;
}

.volunteerform {
  margin-top: 0;
  margin: 0 auto;
  background-color: #4dc76b;
  width: 80%;
  padding: 8px;
  text-align: center;
  justify-content: center;
  border-top: 3px solid #002537;
  border-bottom: 3px solid #002537;
  border-radius: 0px 0px 20px 20px;
  color: #c9d1d9;
}

.volunteerform > p {
  color: #000000;
}

.volunteerform > a {
  color: #000000;
}


nav > ul > li {
  scale: 1.5;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #D6D1E1;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #E94A64;
}

section {
  padding: 30px;
  background-color: #161b22;
  border-radius: 20px;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  border: 1px solid #30363d;
  overflow: hidden;
}

section > ul > li > a {
  text-decoration: none;
}

section h1, section h2 {
  color: #c9d1d9;
  margin-bottom: 20px;
}

section p {
  color: #c9d1d9;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.custombar-embed {
  display: flex;
  scale: 0.8;
  max-width: 800px;
  height: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

footer, header {
  color: #c9d1d9;
}

footer {
  background-color: #0d1117;
  padding: 20px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

footer p {
  font-size: 14px;
}

.download-button {
  margin-left: 25px;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #D6D1E1;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  border: 1px solid #ffffff;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s ease;
}

.download-button:hover {
  color: black;
  box-shadow: 0px 0px 20px #58a6ff;
  background-color: #58a6ff;
}

.story {
  width: 100%; /* Set the section width to 100% of its parent container */
  max-width: 800px;
  margin: 0 auto; /* Remove margin for the section */
  padding: 0; /* Remove padding for the section */
  text-align: justify;
  display: flex;
  flex-direction: column; /* Arrange <p> elements in a column */
  justify-content: space-between; /* Add space between <p> elements */
}

.updatebanner > h1 {
  color: #ffd45e;
  text-shadow: 0px 0px 20px #ffd45e84;
}

.redbanner {
  background-color: transparent;
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  justify-content: center;
  border: 1px solid rgb(255, 157, 0);
  border-radius: 20px;
  overflow: hidden;
}

.donationbar {
  text-align: center;
}

.donationbar > p {
  margin-top: 20px;
  color: #c9d1d9;
}

.donationbar > .donationbutton {
  margin-top: 20px;
  scale: 1.3;
  width: 200px;
}

progress {
  width: 70%;
  height: 45px;
  border: none;
}

/* Background color of the progress element */
progress::-webkit-progress-bar {
  background-color: transparent; /* Darker background color */
  border: 3px solid white;
  padding: 10px;
}

/* Fill color of the progress element */
progress::-webkit-progress-value {
  background-color: #ffffff; /* Green fill color */
  box-shadow: 0px 0px 20px 5px rgb(252, 228, 93);
}

progress::-webkit-progress-bar, progress::-webkit-progress-value {
    border-radius: 50px;
}

.money {
    color: #e9c94a;
}

.donationbutton {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  transition: color 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s ease;
  border: 1px solid #ffffff;
}

.donationbutton:hover {
  color: black;
  background-color: #58a6ff;
  box-shadow: 0px 0px 20px #58a6ff;
  cursor: pointer;
}

.versioncontrol {
  display: inline-block;
  padding: 11px;
  background-color: white;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
}

.column {
  display: list-item;
  list-style-type: none;
  margin: 10px;
}

/* Version Label */
.versionstability {
  border-right: 20px solid rgb(140, 248, 126);
}

.preview {
  border-right: 20px solid rgb(255, 190, 105);
}

.version {
  margin-left: 10px;
}

.cbname {
  padding: 5px 30px;
  max-width: fit-content;
  border: 1px solid white;
  border-radius: 50px;
  text-shadow: 0px 0px 20px #d1054c;
}

.divider-large {
  width: 100%;
  display: flex;
  border: 3px solid #2c2936;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.outsidebackground {
  background-color: #121016;
}

.insidebackground {
  background-color: #0d1117;
  box-shadow: 0px 0px 1000px 10px #58a6ff4b;
}

.fa-cloud-arrow-down {
  margin-right: 10px;
}

.headerbackground {
  justify-content: center;
  background-color: #1b2c41;
  padding: 10px;
  box-shadow: 0px 5px 50px #141023;
  border-radius: 20px;
  font-size: large;
  height: 40px;
  align-items: center;
}

.downloadpage {
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
  margin: -50px 40px -50px 40px;
}

.credits {
  display: grid;
  grid-auto-flow: column;
  scale: 0.7;
}

.profile {
  border-radius: 100%;
  border: 4px solid rgb(87, 153, 223);
  transition: scale 0.3s, border 0.3s, box-shadow 0.3s;
  padding: 8px;
}

.profile:hover {
  scale: 1.08;
  border: 4px solid rgb(130, 181, 235);
  box-shadow: 0px 0px 20px rgb(87, 153, 223);
}