.progress-bar {
    background-color: #1f1f1f;
    outline: 5px solid black;
}

.progress-fill {
    background: linear-gradient(90deg, rgb(201, 73, 201), rgb(196, 6, 158));
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgb(251, 110, 230);
}
  
.progress-fill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(45deg, transparent 10px, rgba(255, 255, 255, 0.2) 10px, rgba(255, 255, 255, 0.2) 20px, transparent 20px);
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, 0.2) 10px, rgba(255, 255, 255, 0.2) 20px);
    background-size: 200% 100%;
    animation: move 8s linear infinite;
}
  
@keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
}

#goal-title { /* Goal Title */
    color: rgb(54, 237, 78);
}

.progress-label { /* 0 - 100 Ect */
    color: #ffffff;
    font-weight: bold;
}

.progress-bar, .progress-fill { /* The Progress Bar Styling */
    border-radius: 5px;
    width: 100%;
    height: 75px;
}