input[type="number"],
input[type="text"] {
    background-color: #182c42;
    border-radius: 50px;
    border: 2px solid #58a6ff;
    padding: 12px 9px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 25px;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
    transition: border 0.3s, scale 0.3s, box-shadow 0.3s ease-in-out;
}

input[type="number"]:focus,
input[type="text"]:focus {
    scale: 1.05;
    border: 5px solid #80bbff;
    box-shadow: 0px 0px 20px #58a6ff;
}

textarea {
    padding: 10px;
}