.progress-bar {
    background-color: #0e1d2e;
    width: 80%;
    height: 60px;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 80px;
    box-shadow: 0px 0px 10px #58a6ff, inset 0px 0px 10px #58a6ff;
}

.progress-bar {
    border: 3px solid white;
    border-radius: 50px;
    color: #58a6ff;
}